nav.navbar {
  padding: 15px 70px;
  background: $primary;
  width: 100%;
  z-index: 2;

  .navbar-collapse {
    flex-grow: 0;
  }

  ul.navbar-nav {
    flex-direction: row;
    flex-wrap: inherit;
    align-items: center;
    padding-left: 1rem;

    li.nav-item {
      margin-right: 3rem;

      .nav-link {
        font-family: $ffn;
        font-size: 15px;
        // font-weight: $bold;
        text-transform: uppercase;
      }
    }

    .nav-bg-white {
      background: #fff;
      padding: 5px 20px;

      .nav-link {
        color: $primary;
      }
    }

    .account-toggle {
      position: relative;

      a.dropdown-toggle {

        &::after {
          margin-left: .5em;
        }
      }

      a {
        text-transform: uppercase;
        color: $primary;
        font-size: 15px;
      }

      .dropdown-menu {
        min-width: 100%;
      }

      .dropdown-item {
        padding: 0.7rem 1.5rem;

        &:active {
          background-color: transparent !important;
        }
      } 

      .dropdown-item.active {
       background-color: transparent !important;
      } 
    }
  }

  .navbar-toggler {

    &:focus {
      outline: none;
    }

    .navbar-toggler-icon {
      width: 2.5em;
      height: 2.5em;
    }
  }

 
}


