@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@mixin do-font-face($name, $file-name, $url, $type, $weight, $style){
  @font-face {
    font-family: $name;
    //src: url(#{$url + $file-name}.eot);
    //src: url(#{$url + $file-name}.eot?#iefix) format('embedded-opentype');
    @if $type == "otf"{
      src: url(#{$url + $file-name}.otf) format('opentype');
    }
    @if $type == "ttf"{
      src: url(#{$url + $file-name}.ttf) format('truetype');
    }
    @if $type == "woff"{
      src: url(#{$url + $file-name}.woff);
    }
    @if $type == "woff2"{
      src: url(#{$url + $file-name}.woff2);
    }
    font-weight: $weight;
    font-style: $style;
  }
}

@include do-font-face('Lato', 'Lato-Regular', '/fonts/', 'ttf', normal, normal);
@include do-font-face('Lato', 'Lato-Bold', '/fonts/', 'ttf', bold, normal);
@include do-font-face('Lato', 'Lato-Semibold', '/fonts/', 'ttf', 600, normal);

$lato          : 'Lato', sans-serif;

$ffh            : $lato;
$ffb            : $lato;
$ffn            : $lato;

$normal         : normal;
$bold           : bold;
$semi-bold      :600;

// Colors
$primary: #DC042A;
$light-black: #383838