html, body {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: $ffb;
  font-size: 18px;
  line-height: 1.5;
  // margin-bottom: 200px;
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.527), rgba(255, 255, 255, 0.527)),
    url('/images/background-cover.jpg');
}

*, *:active, *:focus{
  outline: none !important;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}

p {
  color: $grey-text;
}

li {
  color: $grey-text;
}

%heading{
  font-family: $ffh;
  // line-height: 1.5;
  font-weight: $semi-bold;
  color: $light-black;
}

h1 {
  @extend %heading;
  font-size: 50px;
}

h2 {
  @extend %heading;
  font-size: 40px;
}

h3 {
  @extend %heading;
  font-size: 40px;
}

h4 {
  @extend %heading;
  font-size: 30px;
}

h5 {
  @extend %heading;
  font-family: $ffn;
  font-weight: 600;
  font-size: 20px;
}

h6 {
  @extend %heading;
  font-size: 24px;
}