form {
  &.select-state {
    select {
    width: 80%;
    margin-bottom: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 98% 50%;
    background-repeat: no-repeat;
    background-image: url(/images/icon/down-red-arrow.svg);
    padding: 10px 20px;
    // padding-right: 7.5em;
    border-radius: 3px;
    background-color: transparent;
    border: 1.2px solid $primary;
    color: $primary;
    outline: none;
    background-size: 13px;
    font-size: 15px;
    }

    .select-tool {
    width: 80%;
    margin-bottom: 20px;
    color: $primary;
    background-size: 13px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    }

    .css-1wa3eu0-placeholder {
        color: $primary;
    }

    .css-1okebmr-indicatorSeparator {
        background-color: transparent
    }

    .css-6q0nyr-Svg {
        color: $primary;
    }

    .css-1pahdxg-control:hover {
        border-color:  $primary;
        box-shadow: none;
    }

    .css-yk16xz-control {
        border-color:  $primary;
        border: 1.2px solid $primary;

        &:hover {
            border-color:  $primary;
        }
    }
      
  }

}
