form {
  &.select-state {
    .select-tool {
    width: 80%;
    margin-bottom: 20px;
    color: $primary;
    background-size: 13px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    }

    .css-1wa3eu0-placeholder {
        color: $primary;
    }

    .css-1okebmr-indicatorSeparator {
        background-color: transparent
    }

    .css-6q0nyr-Svg {
        color: $primary;
    }

    .css-1pahdxg-control:hover {
        border-color:  $primary;
        box-shadow: none;
    }

    .css-yk16xz-control {
        border-color:  $primary;
        border: 1.2px solid $primary;

        &:hover {
            border-color:  $primary;
        }
    }
      
  }

}
