form {
    &.select-state {
        .select-tool {
            width: 80%;
            margin-bottom: 20px;
            color: $primary;
            background-size: 13px;
            font-size: 15px;
            border-radius: 5px;
            outline: none;

            @media only screen and (max-width: $desktop_width) {
                width: 100%;
            }
        }

        .select-disabled {
            pointer-events: none;

            .css-yk16xz-control {
                border-color: #a5a5a5 !important;
                border: 1.2px solid #a5a5a5 !important;
                background: #f5f5f5 !important;

                &:hover {
                    border-color: #a5a5a5 !important;
                }
            }

            .css-1wa3eu0-placeholder {
                color: #a5a5a5 !important;
                font-size: 15px;
            }

            .css-tlfecz-indicatorContainer {
                svg {
                    fill: #a5a5a5 !important;
                }
            }

            .css-g1d714-ValueContainer {
                padding: 0 8px;
            }
        }

        .css-1wa3eu0-placeholder {
            color: $primary;
        }

        .css-1okebmr-indicatorSeparator {
            background-color: transparent;
        }

        .css-tlfecz-indicatorContainer {
            svg {
                fill: $primary !important;
            }
        }

        .css-1pahdxg-control:hover {
            border-color: $primary;
            box-shadow: none;
        }

        .css-yk16xz-control {
            border-color: $primary;
            border: 1.2px solid $primary;

            &:hover {
                border-color: $primary;
            }
        }

        .css-9gakcf-option {
            background-color: transparent;
            cursor: pointer;
            color: $primary;

            &:hover {
                background-color: #deebff;
            }
        }

        .css-1n7v3ny-option {
            cursor: pointer;
        }

        .inline-loading-css {
            text-align: center;
            width: 80%;

            @media only screen and (max-width: $mobile_width) {
                width: 100%;
            }
        }

        .inline-loading-css-menu-page {
            height: 55px;
            text-align: center;
        }

        .star-icon {
            font-size: 30px;
            color: #fff;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $primary;

            &:not(:last-child) {  
                margin-right: 5px;
            }
        }

        .checked {
            color: $primary;
        }
    }

    &.signup-form {
        
        .sticky {
            position: sticky;
            top: 10px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            // font-weight: $semi-bold;
        }
        .textbox {
            padding: 1px;
            position: relative;
            background: #ccc;
            z-index: 1;
            border-radius: 3px;
            overflow: hidden;
            margin: 10px 0;
            line-height: 0;
            width: 100%;
        }

        input {
            color: $light-black;
            box-sizing: border-box;
            font-size: 15px;
            outline: none;
            border: none;
            z-index: 2;
            padding: 7px 10px;
            border-radius: 3px;
            width: 100%;

            &:focus ~ .border {
                width: 100%;
                height: 100%;
                border-radius: 4px;
                top: 0;
            }
        }

        .error {
            color: $primary;
            font-size: 12px;
        }

        .border {
            position: absolute;
            content: "";
            top: -4px;
            left: 0;
            width: 0%;
            height: 0%;
            border: 1px solid transparent !important;
            background: #18a91f;
            z-index: -1;
            -webkit-transition: height 0.3s, width 0.3s 0.1s;
            transition: height 0.3s, width 0.3s 0.1s;
        }

        .border-error {
            background: $primary;
        }

        textarea {
            padding: 7px 10px;
            font-size: 15px;
            width: 100%;
            height: 150px;
            border-radius: 3px;
            border-color: #ccc;
            // margin-bottom: 20px;
            resize: none;
        }

        .textarea-error {
            border-color: $primary;
        }

        textarea:focus-within {
            border-color: #18a91f;
        }

        .input-suggestion {
            background-color: #f2f2f2 !important;
            padding: 2px 10px;
            font-size: 15px;
        }

        .red-colored {
            color: $primary;
        }


        i {
            position: absolute;
            right: 15px;
            top: 25%;
            z-index: 1;
            color: $primary;
        }

        .form-select {
            display: block;
            padding: 10px 30px 10px 20px;
            font-weight: 400;
            line-height: 1.5;
            color: #383838;
            background-color: #fff;
            background-image: url('/images/arrowDown.png');
            background-repeat: no-repeat;
            background-position: right 1.1rem center;
            background-size: 13px 16px;
            border-radius: 3px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin-bottom: 15px;
            border-color: #707070;
        }
    }

    &.coupon-form {
        
        .coupon-container {
            display: flex;
            height: 50px;

            input {
                border: 1px solid #ccc;
                border-right: none;
            }
    
            button.btn {
                margin-left: -2px;
                z-index: 2;
    
                .text {
                    width: max-content;
                }
            }   
        }

        .error {
            font-size: 15px;
            margin-top: 9px;
        }

        
    }

    .remember-account {
        margin-bottom: 15px;

        // Checkbox on signup page
        @include checkbox-btn;
        label {
            margin-top: 10px;
            text-transform: capitalize !important;
            font-size: 15px !important;
            font-weight: normal !important;
        }

        .checkmark {
            top: 5px;
        }

        a {
            border: none;
            background: transparent;
            color: $primary;
            font-size: 15px;
        }
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
}
