// main{

// }

section {
    &.header-content {
        height: 100vh;
        padding: 150px 0;

        // @media only screen and (max-width: $wide_width) {
        //     height: 50vh;
        // }

        @media only screen and (max-width: $desktop_width) {
            padding: 100px 0;
            height: 70vh;
         }

         @media only screen and (max-width: $mobile_width) {
            padding: 0;
            height: auto;
         }

        h1 {
            margin-bottom: 10px;

            @media only screen and (max-width: $desktop_width) {
               font-size: 40px;
            }

            @media only screen and (max-width: $mobile_width) {
                font-size: 25px;
            }
        }

        p {
            font-weight: $semi-bold;
            margin-bottom: 15px;
        }

        .headtext-container {
            padding: 100px 0 0 100px;

            @media only screen and (max-width: $wide_width) {
                padding: 0 0 0 100px;
            }

            @media only screen and (max-width: $desktop_width) {
                padding: 0;
            }

            @media only screen and (max-width: $mobile_width) {
                padding: 30px 0;
            }

            .title {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                height: 70px;

                @media only screen and (max-width: $mobile_width) {
                    height: 40px;
                }
          
                .block {
                  width: 0%;
                  height: inherit;
                  background: $primary;
                  position: absolute;
                  animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
                  display: flex;
                }
          
                h1 {
                  -webkit-animation: mainFadeIn 1s forwards;
                  -o-animation: mainFadeIn 1s forwards;
                  animation: mainFadeIn 1s forwards;
                  animation-delay: 1.3s;
                  opacity: 0;
                  display: flex;
                  align-items: baseline;
                  position: relative;
                  margin: 0;
          
                  span {
                    width:0px;
                    height: 0px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
          
                    background: $primary;
                    -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
                    animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
                    animation-delay: 2s;
                    margin-left: 5px;
                    margin-top: -10px;
                    position: absolute;
                    bottom: 13px;
                    right: -12px;
          
                  }
                }
            }

            .role {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                height: 70px;
                // margin-top: -10px;

                @media only screen and (max-width: $mobile_width) {
                    height: 40px;
                }
          
                .block {
                  width: 0%;
                  height: inherit;
                  background: $primary;
                  position: absolute;
                  animation: secBlock 1s cubic-bezier(.74, .06, .4, .92) forwards;
                  animation-delay: 1.5s;
                  display: flex;
                }
          
                h1 {
                  animation: secFadeIn 1s forwards;
                  animation-delay: 2s;
                  opacity: 0;
                  display: flex;
                  align-items: baseline;
                  position: relative;
                  margin: 0;

                  span {
                    width:0px;
                    height: 0px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
          
                    background: $primary;
                    -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
                    animation: popIn 2s cubic-bezier(.74, .06, .4, .92) forwards;
                    animation-delay: 2s;
                    margin-left: 5px;
                    margin-top: -10px;
                    position: absolute;
                    bottom: 13px;
                    right: -12px;

                    @media only screen and (max-width: $desktop_width) {
                        position: unset;
                    }
                  }
                }
              }
        }

        .left-banner-image {
            width: auto;
            height: 100%;
            position: absolute;
            left: -20%;
            top: 0;
            bottom: 0;
            z-index: -1;
            animation: moveInDown 2s ease-out;
            

            @media only screen and (max-width: $wide_width) {
                display: none;
            }
        }

        .right-banner-image {
            width: auto;
            height: 100%;
            position: absolute;
            right: -20%;
            top: 0;
            bottom: 0;
            z-index: -1;
            animation: moveInDown 2s ease-out;

            @media only screen and (max-width: $wide_width) {
                display: none;
            }
        }
    }

    // &.coupon-products {
    //     //   border-top: 1px solid $primary;
    //     position: relative;

    //     &::before {
    //         content: "";
    //         position: absolute;
    //         top: 0;
    //         left: 50%;
    //         transform: translateX(-50%);
    //         width: 70%;
    //         height: 1.3px;
    //         background-color: $primary;

    //         @media only screen and (max-width: $mobile_width) {
    //             width: 95%; 
    //         }
              
    //     }

    //     .mv-down {
    //         margin-top: 32px;
    //     }
    // }

    &.how-it-works {
        padding: 70px 0;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 70%;
            height: 1.3px;
            background-color: $primary;

            @media only screen and (max-width: $mobile_width) {
                width: 95%; 
            }
              
        }

        h2 {
            margin-bottom: 10px; 
        }

        .bounce-hover {
            &:hover {
                .bounce {
                    -webkit-animation-name: bounce; 
                    animation-name: bounce; 
                    -webkit-animation-duration: 1.3s;
                    animation-duration: 1.3s; 
                    -webkit-animation-fill-mode: both; 
                    animation-fill-mode: both; 
                }
            }
        }

        img {
            margin-bottom: 20px;
        }

        @-webkit-keyframes bounce { 
            0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
            40% {-webkit-transform: translateY(-30px);} 
            60% {-webkit-transform: translateY(-15px);} 
         } 
         
        @keyframes bounce { 
            0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
            40% {transform: translateY(-30px);} 
            60% {transform: translateY(-15px);} 
        }

        .text-red {
            color: $primary;
            font-weight: 600;
        }
    }

    &.sec-footer {
        padding: 80px 0;
        background-color: $primary;
        position: relative;
        margin-bottom: 140px;

        @media only screen and (max-width: $desktop_width) {
            margin-bottom: 30px;
        }

        @media only screen and (max-width: $mobile_width) {
            padding: 40px 0;
            margin-bottom: 0;
        }

        p {
            color: #fff;
            margin-bottom: 20px;
        }

        .mobile-link-container {

            // @media only screen and (max-width: $mobile_width) {
            //     text-align: center;
            // }

            a:first-child {
                margin-right: 15px;

                // @media only screen and (max-width: $mobile_width) {
                //     margin-right: 0;
                // }
            }

            img {
                max-height: 45px;
                width: auto;

                @media only screen and (max-width: $mobile_width) {
                    max-height: 35px;
                    margin-bottom: 15px;
                }
            }
        }

        .app-img {
            position: absolute;
        }

        .app-img-1 {
            max-width: 269px;
            top: -100%;
            left: 20px;
        }

        .animate-1 {
            animation: moveInRight1 2s ease-out;
            -moz-animation: moveInLeft 2s ease-out;
            -o-animation: moveInLeft 2s ease-out;
            -ms-animation: moveInLeft 2s ease-out;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .app-img-2 {
            max-width: 269px;
            top: -107%;
            right: 0px;
        }

        .animate-2 {
            animation: moveInRight2 2s ease-out;
            -moz-animation: moveInLeft 2s ease-out;
            -o-animation: moveInLeft 2s ease-out;
            -ms-animation: moveInLeft 2s ease-out;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    }

    &.orders {
        padding: 30px 0;

        h2 {
            padding-bottom: 20px;
            border-bottom: 1px solid #000;
            margin-bottom: 20px;
        }

        .orders-container {
            padding: 25px;
            box-shadow: 1px 4px 13px -4px rgba(0, 0, 0, 0.48);
            background: #fff;
            margin-bottom: 20px;

            @media only screen and (max-width: $mobile_width) {
                padding: 20px;
            }

            img {
                margin-bottom: 0;
            }

            .order-details-container {
                padding-left: 15px;
                padding-right: 15px;

                @media only screen and (max-width: $mobile_width) {
                    padding-left: 0;
                    padding-right: 0
                }
            }

            .date {
                font-size: 13px;
            }

            .prices-details {
                font-size: 16px;
            }

            .bold-text {
                font-weight: $bold;
            }
        }
    }

    &.select-restaurant {
        background-color: #fff;
        padding: 20px 0 0 0;
        box-shadow: 0 2px 9px -3px grey;
        // position: fixed;
        width: 100%;
        z-index: 3;

        @media only screen and (max-width: $mobile_width) {
            padding: 10px 0 0 0;
        }

        .d-flex {
            width: 100%;
        }

        p {
            margin-bottom: 0;
            margin-right: 20px;
            text-transform: uppercase;
            font-weight: $semi-bold;
        }

        .select-state {
            width: 20%;
            margin-right: 20px;

            @media only screen and (max-width: $desktop_width) {
                width: 30%;
            }

            @media only screen and (max-width: $tablet_width) {
                width: 50%;
            }

            @media only screen and (max-width: $mobile_width) {
                width: 100%;
            }

            .css-tlfecz-indicatorContainer {
                svg {
                    fill: #fff !important;
                }
            }

            .css-yk16xz-control {
            
                .css-1uccc91-singleValue {
                    color: #fff !important;
                }
            }

            .css-yk16xz-control {
                background-color: $primary;
                border: transparent;

                .css-1wa3eu0-placeholder {
                    color: #fff;
                }
            }
        }

        .select-tool {
            width: 100%;
            margin-bottom: 0;
        }
        // select disabled on the menu page
        .select-disabled

        .css-2b097c-container {

            .css-1pahdxg-control {
                box-shadow: 0 0 0 1px $primary;
                font-size: 16px;

                &:hover {
                    border-color: $primary !important;
                }
            }

            span.css-1laao21-a11yText {
                background-color: $primary !important;

                p {
                    color: $primary !important;
                }
            }
        }

        ul.product-cat {
            display: flex;
            align-items: center;
            padding-left: 0;
            margin-bottom: 0;
            flex-wrap: wrap;

            .active {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 90%;
                    height: 10px;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    background: $primary;

                    @media only screen and (max-width: $tablet_width) {
                        height: 6px;
                        bottom: 5px;
                    }
                }
            }
            a {
                margin-right: 30px;

                li.product-cat-list {
                    list-style: none;
                    text-transform: uppercase;
                    font-size: 15px;
                    padding: 15px 0;

                    @media only screen and (max-width: $tablet_width) {
                        padding: 10px 0;
                    }
                }
            }
        }
    }

    &.active-select-restaurant {
        padding: 20px 0;
    }

    &.products {
        padding: 40px 0;
        position: relative;
        // margin-top: 100px;

        h4 {
            text-transform: uppercase;
            color: $primary;
            font-weight: $semi-bold;
            padding-left: 20px;
            position: relative;
            margin-bottom: 0;

            @media only screen and (max-width: $mobile_width) {
                font-size: 25px;
                margin-top: 30px;
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 12px;
                height: 12px;
                background-color: #dc042a;
                border-radius: 50%;
            }
        }

        .single-product {
            margin-bottom: 10px;
            padding: 20px 0;
            border-bottom: 1px solid #a5a5a5;

            p {
                margin-bottom: 0;
            }

            img {
                width: 150px;
                object-fit: cover;
                height: 150px;
            }

            .sale {
                color: $primary;
            }

            .product-name {
                font-size: 20px;
                text-transform: uppercase;
                font-weight: $semi-bold;
                margin-right: 10px;

                @media only screen and (max-width: $mobile_width) {
                    font-size: 15px;
                }
            }

            .product-qty {
                margin-right: 10px;
            }

            .product-description {
                font-size: 15px;
            }

            input {
                @include input-number-style;
            }

            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                @include input-number-icon-show;
            }
        }

        .coupon-on-menu {
            a {
                img{
                    margin-bottom: 15px;
                    width: 100%;
                    object-fit: cover;
                    height: 250px;
                }
            }
        }

        .active-cart {
            box-shadow: -2px 3px 11px -7px rgba(0, 0, 0, 0.75);
            right: 0 !important;
            background: #fff;

            .cart-product-list {
                padding: 10px 40px 40px !important;
                display: block !important;
            }
        }

        .cart-mobile-view {
            display: none;

            @media only screen and (max-width: $mobile_width) {
                display: block !important;
            }
        }

        .cart {
            width: 36%;
            border-radius: 44px 0px 0px;
            position: fixed;
            top: 21%;
            right: -25%;
            transition: all 0.3s;
            z-index: 4;

            @media only screen and (max-width: $wide_width) {
                width: 42%;
            }

            @media only screen and (max-width: $desktop_width) {
                width: 50%;
                top: 30%;
            }

            @media only screen and (max-width: $tablet_width) {
                width: 58%;
            }

            @media only screen and (max-width: $mobile_width) {
                z-index: 4;
                display: none;
                top: 56%;
            }

            .cart-container {
                background: $primary;
                border-radius: 45px 0 0 45px;
                display: flex;
                align-items: flex-end;
                padding: 20px 0 20px 20px;
                cursor: pointer;

                @media only screen and (max-width: $mobile_width) {
                    padding: 17px 0 13px 17px;
                    border-radius: 53px 0 0 53px;
                }

                .cart-icon-container {
                    position: relative;

                    button {
                        border-color: transparent;
                        background: transparent;
                    }

                    img {
                        height: 40px;
                        width: auto;

                        @media only screen and (max-width: $mobile_width) {
                            height: 33px; 
                        }
                    }

                    .product-count {
                        position: absolute;
                        top: -13px;
                        right: -8px;
                        text-align: center;
                        width: 23px;
                        height: 23px;
                        padding: 0px;
                        background: #fff;
                        font-size: 11px;
                        border-radius: 50%;
                        line-height: 2.2;

                        @media only screen and (max-width: $mobile_width) {
                            width: 20px;
                            height: 20px;
                            font-size: 10px;
                        }
                    }
                }

                .cart-text {
                    width: 100%;
                    background: #fff;
                    color: red;
                    padding: 2px 10px;
                    font-size: 13px;
                    text-transform: uppercase;
                    border-radius: 5px 0 0 5px;
                    margin-bottom: 0;

                    @media only screen and (max-width: $mobile_width) {
                        font-size: 10px;
                    }
                }
            }

            .cart-product-list {
                // padding: 40px 60px 40px 300px;
                display: none;
                background: #fff;

                .cart-listing-container {
                    overflow: scroll;
                    height: 273px;
                    padding-right: 10px;
                    overflow-x: hidden;
                }

                .cart-listing-height {
                    height: auto !important;
                }

                .product-list {
                    // display: flex;
                    // align-items: center;
                    // justify-content: space-between;
                    // flex-wrap: wrap;
                    padding: 10px 0;
                    border-bottom: 1px solid #a5a5a5;

                    @media only screen and (max-width: $desktop_width) {
                       flex-direction: column;
                       align-items: baseline;
                    }

                    img { 
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                    }

                    input {
                        @include input-number-style;
                    }

                    p {
                        font-size: 17px;
                        margin-bottom: 0;
                    }

                    p.bold {
                        font-weight: $semi-bold;
                        padding: 8px 0;
                    }

                    button {
                        padding: 0px 8px;
                        color: $primary;
                        border-color: transparent;
                        // border: 1.5px solid #a5a5a5;
                        outline-color: transparent;
                        background: transparent;
                    }

                    input[type="number"]::-webkit-inner-spin-button,
                    input[type="number"]::-webkit-outer-spin-button {
                        @include input-number-icon-show;
                    }
                }

                .cart-button-actions {
                    margin-top: 20px;
                    // Checkbox on cart page
                    @include checkbox-btn;
                }
            }
        }
    }

    &.shopping-cart {
        padding: 50px 0;

        h1 {
            background: $primary;
            width: max-content;
            text-align: center;
            padding: 14px 50px;
            margin: 0 auto;
            color: #fff;
            font-size: 18px;
            border-radius: 4px;
            margin-bottom: 30px;
        }

        h4 {
            text-transform: uppercase;
            text-align: center;
            font-size: 25px;
            margin-bottom: 20px;

            @media only screen and (max-width: $mobile_width) {
                font-size: 20px;
                font-weight: normal;
            }
        }

        .mid-line {
            position: relative;

            &::before {
                content: "";
                background: $primary;
                right: 60px;
                top: 28%;
                position: absolute;
                height: 2px;
                width: 211px;

                @media only screen and (max-width: $wide_width) {
                    width: 157px;
                }

                @media only screen and (max-width: $desktop_width) {
                    width: 87px;
                }

                @media only screen and (max-width: $tablet_width) {
                    width: 147px;
                }

                @media only screen and (max-width: $mobile_width) {
                    right: 90px;
                    top: 31%;
                    width: 20%;
                }

            }

            &::after {
                content: "";
                background: $primary;
                left: 60px;
                top: 28%;
                position: absolute;
                height: 2px;
                width: 217px;

                @media only screen and (max-width: $wide_width) {
                    width: 165px;
                }

                @media only screen and (max-width: $desktop_width) {
                    width: 94px;
                }

                @media only screen and (max-width: $tablet_width) {
                    width: 155px;
                }

                @media only screen and (max-width: $mobile_width) {
                    left: 90px;
                    top: 31%;
                    width: 20%;
                }
            }
        }

        .view-number {

            @media only screen and (max-width: $mobile_width) {
                display: none!important;
            }
        }

        .number-container {
            .active-number {
                background: $primary;
                color: #fff !important;
                border: none !important;
            }

            .number {
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                color: $primary;
                border-radius: 50%;
                font-size: 15px;
                margin-bottom: 10px;
                border: 1px solid #95989a;
            }

            .number-text {
                font-size: 13px;
                text-transform: uppercase;
                color: #707070;
            }
        }

        .order-review {
            padding: 20px 20px;
            border: 1px solid #a5a5a5;
            margin-bottom: 10px;
            background: #fff;

            @media only screen and (max-width: $desktop_width) {
               flex-direction: column;
            }

            p {
                margin-bottom: 0;

                @media only screen and (max-width: $desktop_width) {
                    flex-direction: column;
                    margin: 5px 0;
                }
            }

            button {
                border: transparent;
                background: transparent;
                color: #a5a5a5;
                text-transform: uppercase;
                font-size: 12px;

                @media only screen and (max-width: $desktop_width) {
                    margin-bottom: 5px;
                }

                span {
                    color: $light-black;
                    margin-right: 5px;
                }
            }

            img {
                max-width: 100%;
                width: 100px;
                height: 100px;
                object-fit: cover;
            }

            .product-name {
                text-transform: uppercase;
                font-weight: $semi-bold;
            }

            .product-qty {
                margin-right: 5px;
            }

            input {
                @include input-number-style;

                &::-webkit-inner-spin-button{
                    @include input-number-icon-show;  
                }
            }
        }

        .coupon-delivery-sect {
            margin: 15px 0;

            label.review {
                text-transform: uppercase;
                margin-bottom: 0;
                color: $primary !important;
                font-size: 15px;
                border: none;
            }

            input[type="text"] {
                width: 65%;
                font-size: 16px;
                border: 2px solid #dddddd;
                padding: 6px 4px;
            }

            input[type="radio"] {
                margin-right: 8px;
                height: 12px;
                width: inherit;
                font-size: inherit; 
            }

            input[type="radio"]:after {
                @include radio-btn;
            }

            input[type="radio"]:checked:after {
                @include radio-btn;
                background-color: $primary;
            }

            p {
                margin-bottom: 0;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: $semi-bold;
            }

            label.pay-opt {
                color: $primary;
                text-transform: uppercase;
                margin-bottom: 0;
            }

            label.pay-opt:not(:last-child) {
                margin-right: 20px;
            }
        }

        .price-review {
            margin: 21px 0 35px;
        }
        
        textarea {
            // width: 100%;
            // height: 100px;
            // padding: 10px;
            // font-size: 15px;
            border: 1px solid #dddddd;
        }

        .card {
            padding: 20px 0;
            border: none;
            transition: all .3s;

            &:hover {
                box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.55);
            }

            img {
                max-width: 50%;
                margin: 0 auto;
            }
            
            p {
                margin-bottom: 0;
                font-size: 16px;
            }

            .card-body {
                padding: 1.25rem 1.25rem 0;

                h5 {
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: $semi-bold
                }

                .card-text {
                    font-size: 13px;
                    border-bottom: 1px solid #707070;
                    padding-bottom: 10px;
                }

                input {
                    @include input-number-style;
                    margin-left: 5px;

                    &::-webkit-inner-spin-button{
                        @include input-number-icon-show;  
                    }
                }
            }
        }

        // Checkout Section
        .checkout-section {
           
            label.payment {
                color: $light-black ;
                border: 1px solid #707070;
                padding: 10px 20px;
                border-radius: 3px;
                font-weight: normal;
    
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }

            h4 {
                text-align: left;
            }

            // Contact details 
            .contact-info {
                border: 1px solid #A5A5A5;
                background: #fff;
                margin-bottom: 20px;

                .contact-details {
                    padding: 20px;

                    p {
                        font-weight: $semi-bold;
                        text-transform: uppercase;

                        span {
                            font-weight: normal;
                            text-transform: initial;
                            margin-left: 5px;
                        }
                    }

                    input {
                        width: 100%;
                        padding: 7px;
                        border: 1px solid #707070;
                        font-size: 15px;
                        margin-top: 10px;
                    }

                    .delivery-text {
                        font-weight: normal;
                        text-transform: initial;
                        font-size: 15px;
                        margin-bottom: 0;
                    }
                }

                .account-change {
                    padding: 10px 20px;
                    background: #F5F5F5;

                    P {
                        margin-bottom: 0;
                        color: $primary;
                        text-transform: uppercase;
                        font-size: 17px;
                        // font-weight: normal;
                    }

                    button {
                        border: transparent;
                        background: transparent;
                        color: $primary;
                        text-transform: uppercase;
                        font-weight: $semi-bold;                    
                    }
                }
            }

            // Order details
            .order-details {
                margin-bottom: 20px;
                margin-top: -118px;

                @media only screen and (max-width: $tablet_width) {
                    margin-top: 0;
                }

                p {
                    margin-bottom: 0;
                }

                h4 {
                    color: $primary;
                }

                .order-details-list {
                    padding: 45px 35px;
                    background: $primary;

                    @media only screen and (max-width: $mobile_width) {
                        padding: 30px;
                    }

                    @media only screen and (max-width: $desktop_width) {
                        padding: 21px;
                    }

                    p {
                        color: #fff;
                    }

                    .order-prod {
                        p:first-child {
                            width: 80%;
                            text-align: left;
                            font-weight: $semi-bold;

                            span {
                                font-weight: normal;
                            }
                        }
                    }

                    .total-order-details {
                        padding-top: 15px;
                        border-top: 1px solid #fff;
                        margin-top: 15px;
                        
                        p:first-child {
                            font-weight: $semi-bold;
                        }
                    }
                }
            }
        }

        // Complete order section
        .complete-order {
            position: relative;

            h2 {
                font-size: 35px;
                text-transform: uppercase;
                text-align: center;
                color: $primary;
                font-weight: $semi-bold;
                margin-bottom: 50px;

                @media only screen and (max-width: $mobile_width) {
                    font-size: 20px;
                }
            }

            .orders-info-container {
                border: 1px solid #A5A5A5;
                padding: 15px 30px;
                border-radius: 5px;

                @media only screen and (max-width: $mobile_width) {
                    text-align: center;
                    background: #F5F5F5;
                }

                .details {
                    border-bottom: 1px solid #A5A5A5;
                }

                .order-details {

                    h5 {
                        font-size: 22px;
                        text-transform: uppercase;

                        @media only screen and (max-width: $mobile_width) {
                            font-size: 15px;
                            // font-weight: normal;
                        }
                    }

                    .red {
                        color: $primary;

                        @media only screen and (max-width: $mobile_width) {
                            font-size: 15px;
                            // font-weight: normal;
                        }
                    }

                    p {
                        font-size: 12px;
                    }

                    .amt {
                        font-size: 40px;
                        font-weight: $bold;

                        @media only screen and (max-width: $mobile_width) {
                            font-size: 30px;
                            font-weight: normal;
                        }
                    }
                }

                table {
                    color: $light-black;

                    .amt-total {
                        font-size: 20px;
                        font-weight: bold;
                    }
                }

                thead {
                    background: $primary;
                    color: #fff;
                }
            }
        }
    }

    &.signup {
        padding: 80px 0 120px;
        background: #fff;

        @media only screen and (max-width: $mobile_width) {
            padding: 40px 0 10px;
        }

        h3 {
            font-family: $ubuntu;
            color: $primary;

            @media only screen and (max-width: $mobile_width) {
                font-size: 30px;
            }
        }

        p {
            color: #7F7F7F;
        }

        p.small-text {
            font-size: 13px;

            .notification-icon {
                width: 23px;
            }
        }

        .other-signin-option {
            display: inline-flex;
            align-items: flex-end;

            button {
                border: 1px solid #707070;
                font-size: 10px;
                text-transform: uppercase;
                padding: 6px 30px 6px 10px;
                display: inline-flex;
                align-items: center;
                background-color: #fff;
                font-family: $ubuntu;

                &:not(:last-child) {
                    margin-right: 20px;
                }

                img {
                    max-height: 15px;
                    margin-right: 10px;
                }
            }

            .fb-btn {
                background-color: #435A9B;
                color: #fff;
                border: none;
            }

            .kep-login-facebook {
                background-color: #435A9B;

                .fa {
                    font-size: 15px;
                }
            }

            .google-btn {
                color: #000 !important;
                padding: 0 !important;
                font-size: 10px !important;
                border: 1px solid #000 !important;
                border-radius: 0 !important;
                box-shadow: unset !important;
                opacity: 1 !important;

                div {
                    padding: 5px !important;
                    margin-right: 2px !important;
                    margin-left: 5px !important;
                }

                span {
                    padding: 0 20px 0 0  !important;
                }
            }
        }

        .or-text {
            width: 40px;
            height: 40px;
            border: 2px solid $primary;
            color: $primary;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 0 auto;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 35%;
            left: 50%;

            &::before {
                content: '';
                position: absolute;
                width: 2px;
                background: $primary;
                height: 140px;
                top: 38px;
            }

            &::after {
                content: '';
                position: absolute;
                width: 2px;
                background: $primary;
                height: 140px;
                bottom: 38px;
            }
        }

        .border-line {
            padding: 40px 50px;
            border: 1px solid #A5A5A5;
            border-radius: 5px;

            @media only screen and (max-width: $mobile_width) {
                padding: 20px;
            }

            h3 {

                @media only screen and (max-width: $mobile_width) {
                   font-size: 30px;
                }

            }
        }
    }

    &.store-location {
        padding: 50px 0;
        background: #fff;

        .container {
            padding-bottom: 60px;
            border-bottom: 1px solid #5D5D5D;
        }

        h4 {
            color: $primary;
            text-transform: uppercase;
            font-weight: $bold;
            margin-bottom: 25px;
            font-family: $ubuntu;
        }

        ul {
            padding-left: 0;

            li {
                list-style: none;
                margin-bottom: 10px;
                font-size: 17px;
            }
        }
        .card {
            padding: 23px;
            border: none;
            box-shadow: -1px -2px 19px -11px rgba(0,0,0,0.75);

            img {
                height: 240px;

                @media only screen and (max-width: $desktop_width) {
                    height: auto;
                  }
            }
        }
    }

    &.contact-us {
        h4 {
            text-transform: initial;
            font-family: $lato;
        }

        .container {
            padding-bottom: 0;
            border-bottom: none;
        }

        .line {

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: $primary;
                width: 1px;
                height: 75%;
            }
        }

        a.link-to-hr {
            color: $primary;
        }
    }

    &.about {
        .slide-images {
            img {
                padding: 0 12px;
            }

            .slick-slide.slick-active.slick-center.slick-center img {
                opacity: 1;
            }
        }

        .MuiTypography-body1 {
            font-size: 14px;
            color: #383838;

            a {
                color: $primary;
                text-decoration: none;
            }
        }

        .MuiSvgIcon-root {
            fill: $primary;
            width: 25px;
            height: 25px;
        }

        .MuiAccordion-root {
            &:before {
                top: 0;
            }
        }

        .MuiAccordionDetails-root {
            text-align: left;
            padding: 8px 16px 6px;
            background: #FFE6EA;
            margin-top: 15px;
        }

        .MuiAccordionSummary-root {
            border: 1px solid $primary;
            min-height: 20px;
        }

        .MuiPaper-elevation1 {
            box-shadow: unset;
            margin-bottom: 15px;
        }

        .MuiAccordionSummary-content {
            margin: 0 !important;

            .MuiTypography-root  {
                font-size: 17px !important;
                font-weight: 600;
            }
        }

        .MuiAccordionSummary-root.Mui-expanded {
            min-height: 20px;
            border: 1px solid $primary;
        }

        .MuiAccordionSummary-content.Mui-expanded {
            margin: 0;
        }
    }

    &.career {

        .testimonial {
            background: #FFE6EA;
            padding: 20px;
            height: auto;
            border: 1px solid $primary;
            border-radius: 5px;

            .testimonial-name {
                text-align: right;
                font-weight: $semi-bold;
            }

        }

        p {
            @media only screen and (max-width: $mobile_width) {
                font-size: 15px;
             }
        }
    }

    // &.pickupPayment {

    // }

    &.tandc {
        p {
            color: #7F7F7F;
        }
        .head-text {
            color: $light-black;
            margin: 20px 0 20px;
        }

        .desc-text {
            margin-top: 20px;
        }

        a {
            color: #DC042A;
            text-decoration: none;
        }
    }

    &.empty-cart {
        padding: 100px 0;

        @media only screen and (max-width: $mobile_width) {
            padding: 20px 0;
        }

        .empty-cart-container {
            p {
                background: #eeeff2;
                text-align: center;
                padding: 20px;

                @media only screen and (max-width: $mobile_width) {
                   font-size: 15px;
                   text-align: left;
                }
            }
        }
    }

    &.restaurant-display {
        .modal-dialog {
            max-width: 900px;
        }

        .modal-header {
            border-bottom: none;
            padding-left: 5rem;
            flex-direction: row-reverse;

            // display: none;
            @media only screen and (max-width: $mobile_width) {
                display: block;
                padding-left: 2rem;
            }

            .modal-title {
                color: $primary;
            }
              
            .close {
                font-size: 35px;
            }
        }

        .modal-body {
            padding: 2rem 5rem;

            @media only screen and (max-width: $mobile_width) {
                padding: 0 2rem;
            }

            .restaurants {
                border-bottom: 1px solid #EDEDED;
                width: 60%;
                margin-bottom: 15px;
                padding-bottom: 10px;

                p {
                    color: $light-black;
                }

                p.name {
                    color: $primary;
                    font-weight: 600;
                }
            }
        }
    }

    &.account {
        h5 {
            margin-top: 20px;
            padding-bottom: 8px;
            border-bottom: 1px solid; 

            @media only screen and (max-width: $mobile_width) {
               margin-bottom: 15px;
            }
        }

        .name {
            text-transform: capitalize;
        }

        .col-black {
            color: $light-black;
        }

        .responsiveTable tbody tr {
            @media only screen and (max-width: $mobile_width) {
                margin-bottom: 10px;
             }
        }
    }

    &.topLoader {
        position: relative;
        height: 54px;
        transition: all 5s;

        .topLoader-container {
            position: absolute;
            top: 78%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &.siqembed {
        opacity: 1 !important;
    }

}


