.notification-push {
    position: fixed;
    top: -100px;
    right: 16px;
    color: #fff;
    padding: 16px 40px;
    background-color: green;
    transition: top 0.5s ease;
    box-shadow: 0 0 12px #999;
    z-index: 999;
    display: inline-flex;
    align-items: center;
    font-size: 20px;

    img {
        margin-right: 10px;
        max-height: 29px;
    }
}

.notificaton-close {
    top: 16px;
}

.button-float {
    position: fixed;
    background: $primary;
    border-radius: 50%;
    left: 1%;
    bottom: 11px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    cursor: pointer;

    .float-arrow {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
}