@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@font-face {
  font-family: "Lato";
  src: url(/fonts/Lato-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Lato";
  src: url(/fonts/Lato-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Lato";
  src: url(/fonts/Lato-Semibold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal; }
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html, body {
  overflow-x: hidden;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.527), rgba(255, 255, 255, 0.527)), url("/images/background-cover.jpg"); }

*, *:active, *:focus {
  outline: none !important; }

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #383838; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 40px; }

h4 {
  font-size: 32px; }

h5 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 20px; }

h6 {
  font-size: 24px; }

form.select-state .select-tool {
  width: 80%;
  margin-bottom: 20px;
  color: #DC042A;
  background-size: 13px;
  font-size: 15px;
  border-radius: 5px;
  outline: none; }
form.select-state .css-1wa3eu0-placeholder {
  color: #DC042A; }
form.select-state .css-1okebmr-indicatorSeparator {
  background-color: transparent; }
form.select-state .css-6q0nyr-Svg {
  color: #DC042A; }
form.select-state .css-1pahdxg-control:hover {
  border-color: #DC042A;
  box-shadow: none; }
form.select-state .css-yk16xz-control {
  border-color: #DC042A;
  border: 1.2px solid #DC042A; }
  form.select-state .css-yk16xz-control:hover {
    border-color: #DC042A; }

.btn {
  background-color: #DC042A;
  color: #fff;
  border-color: transparent;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 13px;
  padding: 5px 16px;
  transition: all .3s; }
  .btn:hover {
    box-shadow: 0px 0px 0px 2.5px white inset, 0px 0px 0px 2px #DC042A;
    color: #fff; }

section.header-content {
  height: 100vh;
  padding: 150px 0; }
  section.header-content h1 {
    margin-bottom: 10px; }
  section.header-content p {
    font-weight: 600;
    margin-bottom: 15px; }
  section.header-content .headtext-container {
    padding: 200px 0 0 100px; }
  section.header-content .left-banner-image {
    width: auto;
    height: 100%;
    position: absolute;
    left: -20%;
    top: 0;
    bottom: 0;
    z-index: -1; }
  section.header-content .right-banner-image {
    width: auto;
    height: 100%;
    position: absolute;
    right: -20%;
    top: 0;
    bottom: 0;
    z-index: -1; }
section.coupon-products {
  padding: 50px 0;
  position: relative; }
  section.coupon-products::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 1.3px;
    background-color: #DC042A; }
  section.coupon-products .mv-down {
    margin-top: 32px; }
section.how-it-works {
  padding: 70px 0; }
  section.how-it-works h2 {
    margin-bottom: 30px; }
  section.how-it-works img {
    margin-bottom: 20px; }
  section.how-it-works .text-red {
    color: #DC042A;
    font-weight: 600; }
section.sec-footer {
  padding: 80px 0;
  background-color: #DC042A;
  position: relative;
  margin-bottom: 100px; }
  section.sec-footer p {
    color: #fff;
    margin-bottom: 20px; }
  section.sec-footer .mobile-link-container a:first-child {
    margin-right: 15px; }
  section.sec-footer .mobile-link-container img {
    max-height: 50px;
    width: auto; }
  section.sec-footer .app-img {
    max-width: 450px;
    position: absolute;
    top: -100%;
    right: 0; }
section.orders {
  padding: 30px 0; }
  section.orders h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid #000; }
  section.orders .orders-container {
    padding: 25px;
    box-shadow: 1px 4px 13px -4px rgba(0, 0, 0, 0.48);
    background: #fff;
    margin-bottom: 20px; }
    section.orders .orders-container img {
      margin-bottom: 0; }
    section.orders .orders-container .order-details-container {
      padding-left: 15px;
      padding-right: 15px; }
    section.orders .orders-container .date {
      font-size: 13px; }
    section.orders .orders-container .prices-details {
      font-size: 16px; }
    section.orders .orders-container .bold-text {
      font-weight: bold; }

nav.navbar {
  padding: 15px 70px;
  background: #DC042A;
  position: fixed;
  width: 100%;
  z-index: 1; }
  nav.navbar .navbar-collapse {
    flex-grow: 0; }
  nav.navbar ul.navbar-nav {
    flex-direction: row;
    flex-wrap: inherit;
    align-items: center;
    padding-left: 1rem; }
    nav.navbar ul.navbar-nav li.nav-item {
      margin-right: 3rem; }
      nav.navbar ul.navbar-nav li.nav-item .nav-link {
        font-family: "Lato", sans-serif;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase; }
    nav.navbar ul.navbar-nav .nav-bg-white {
      background: #fff;
      padding: 5px 20px; }
      nav.navbar ul.navbar-nav .nav-bg-white .nav-link {
        color: #DC042A; }
  nav.navbar .navbar-toggler:focus {
    outline: none; }
  nav.navbar .navbar-toggler .navbar-toggler-icon {
    width: 2.5em;
    height: 2.5em; }

footer.footer {
  background: #000;
  padding: 15px 0; }
  footer.footer p {
    color: #fff; }
  footer.footer .footer-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; }
    footer.footer .footer-body p {
      margin-bottom: 0; }
    footer.footer .footer-body .social-media a:hover {
      transform: rotate(360deg) scale(1.3); }
    footer.footer .footer-body .social-media a:not(:last-child) {
      margin-right: 15px; }
    footer.footer .footer-body .social-media img {
      padding: 6px;
      width: 35px;
      height: 35px;
      border-radius: 40%;
      transition: all .4s; }
      footer.footer .footer-body .social-media img:hover {
        transform: rotate(360deg) scale(1.1);
        background: #fff;
        border: 1px solid #DC042A; }

header.menu-header .slick-dotted.slick-slider {
  margin-bottom: 0; }
header.menu-header .slick-dots {
  width: auto;
  bottom: 50px;
  right: 50px; }
  header.menu-header .slick-dots li.slick-active button:before {
    color: #DC042A; }
  header.menu-header .slick-dots li button {
    border: 1px solid #fff;
    border-radius: 50%; }
    header.menu-header .slick-dots li button:before {
      font-size: 20px;
      line-height: 22px;
      color: #fff;
      opacity: 1; }

/*# sourceMappingURL=main.css.map */
