@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@font-face {
  font-family: "Lato";
  src: url(/fonts/Lato-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Lato";
  src: url(/fonts/Lato-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Lato";
  src: url(/fonts/Lato-Semibold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal; }
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html, body {
  overflow-x: hidden;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.527), rgba(255, 255, 255, 0.527)), url("/images/background-cover.jpg"); }

*, *:active, *:focus {
  outline: none !important; }

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #383838; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 40px; }

h4 {
  font-size: 32px; }

h5 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 20px; }

h6 {
  font-size: 24px; }

form.select-state select {
  width: 80%;
  margin-bottom: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-image: url(/images/icon/down-red-arrow.svg);
  padding: 10px 20px;
  border-radius: 3px;
  background-color: transparent;
  border: 1.2px solid #DC042A;
  color: #DC042A;
  outline: none;
  background-size: 13px;
  font-size: 15px; }
form.select-state .select-tool {
  width: 80%;
  margin-bottom: 20px;
  color: #DC042A;
  background-size: 13px;
  font-size: 15px;
  border-radius: 5px;
  outline: none; }
form.select-state .css-1wa3eu0-placeholder {
  color: #DC042A; }
form.select-state .css-1okebmr-indicatorSeparator {
  background-color: transparent; }
form.select-state .css-6q0nyr-Svg {
  color: #DC042A; }
form.select-state .css-1pahdxg-control:hover {
  border-color: #DC042A;
  box-shadow: none; }
form.select-state .css-yk16xz-control {
  border-color: #DC042A;
  border: 1.2px solid #DC042A; }
  form.select-state .css-yk16xz-control:hover {
    border-color: #DC042A; }

section.header-content {
  height: 90vh;
  padding: 150px 0; }
  section.header-content h1 {
    margin-bottom: 10px; }
  section.header-content p {
    font-weight: 600;
    margin-bottom: 15px; }
  section.header-content .headtext-container {
    padding: 100px 0 0 100px; }
  section.header-content .left-banner-image {
    width: auto;
    height: 100%;
    position: absolute;
    left: -20%;
    top: 0;
    bottom: 0;
    z-index: -1; }
  section.header-content .right-banner-image {
    width: auto;
    height: 100%;
    position: absolute;
    right: -20%;
    top: 0;
    bottom: 0;
    z-index: -1; }

nav.navbar {
  padding: 15px 70px;
  background: #DC042A; }
  nav.navbar .navbar-collapse {
    flex-grow: 0; }
  nav.navbar ul.navbar-nav {
    flex-direction: row;
    flex-wrap: inherit;
    align-items: center;
    padding-left: 1rem; }
    nav.navbar ul.navbar-nav li.nav-item {
      margin-right: 3rem; }
      nav.navbar ul.navbar-nav li.nav-item .nav-link {
        font-family: "Lato", sans-serif;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase; }
    nav.navbar ul.navbar-nav .nav-bg-white {
      background: #fff;
      padding: 5px 20px; }
      nav.navbar ul.navbar-nav .nav-bg-white .nav-link {
        color: #DC042A; }
  nav.navbar .navbar-toggler:focus {
    outline: none; }
  nav.navbar .navbar-toggler .navbar-toggler-icon {
    width: 2.5em;
    height: 2.5em; }

/*# sourceMappingURL=main.css.map */
